header{
    color:white;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
    margin: 2vh 10vw;
    height: 20px;
}
select{
    background-color: white;
    height: 50px;
}
button{
    background-color: white;
    height: 50px;
    cursor: pointer;
}